<div class="background">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
</div>
<div class="grey">
  <div class="container">
    <!-- About Section -->
    <%= partial 'partials/about' %>
    <!-- Projects Section -->
    <%= partial 'partials/projects' %>
    <!-- Social Links Section -->
    <%= partial 'partials/social' %>
  </div>
</div>
